<div class="jumbotron">
	<h1>About the team</h1>
</div>
<%= image_tag("http://i.imgur.com/q2IUX3K.jpg", size: "280x280") %> 
<h2>Evan Walsh</h2>
<strong><p>Evan is a student at Purdue University who is currently in the process of learning Ruby on Rails. He is the creater of this app.</p></strong>